* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #EAEDED;
	font-family: arial, arial-black, "sans-sarif";
}
.thead {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 10px;
}
.navbar {
	box-shadow: 0 5px 20px #343A40;
}
#skew {
	border-width: 0 0 100px 1349px;
	border-color: transparent transparent #EAEDED transparent;
	border-style: solid;
	position:  absolute;
	left: 0;
	bottom: 0;
}
.carousel-indicators li {
	margin-top: -75px;
}
.container, .container-fluid {
	margin-top: 30px;
}
.welcomeCardHeader {
	color: orangered;
	border-bottom: 2px dashed orangered;
	text-shadow: 3px 2px orange;
}
.welcomeCardTitle {
	color: orangered;
}
.welcomeCardText {
	color: orange;
}
.shw {
	height: 230px;
} 
.btt {
	width: 100px;
	height: 20px;
	display: block;
	float: right;
	margin-top: -58px;
}
.btt a {
	text-decoration: none;
	color: #010152;
	cursor: pointer;
	border: 2px solid #010152;
	background-color: transparent;
	padding: 5px;
	border-radius: 3px;
}
.btt:hover {
	transform: rotate(-380deg);
	transition: 0.5s;
}
.mainFooter {
	margin-top: 30px;
	width: 100%;
	height: 60px;
	background-color: #343A40;
	color: #fff;
	text-align: center;
	line-height: 60px;
}
.mainFooter a {
	text-decoration: none;
	color: orangered;
}
